{% if page.comments %}
<div class="row">
<div id="hypercomments_widget" class="col-sm-9"></div>
<script type="text/javascript">

_hcwp = window._hcwp || [];
_hcwp.push({widget:"Stream", widget_id: 93825,SETTINGS_KEY: '8604bca4dd3192c138abcc7fbb56b6f2', xid: "{{ page.title }}" });
(function() {
if("HC_LOAD_INIT" in window)return;
HC_LOAD_INIT = true;
var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
lang = 'zh';
var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/93825/"+lang+"/widget.js";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hcc, s.nextSibling);
})();
</script>
</div>
{% endif %}
