<script src="{{ "/assets/dist/js/jquery.min.js" | prepend: site.baseurl }}" ></script>
<script src="{{ "/assets/dist/js/bootstrap.min.js" | prepend: site.baseurl }}" ></script>
<script src="{{ "/assets/app.js" | prepend: site.baseurl }}" ></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?288bef02daab5a3e3b45925398010008";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-6t+ed+2i-1n-4w"
     data-ad-client="ca-pub-5243842152389698"
     data-ad-slot="6092942041"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
