<header class="site-header">
  <!-- <h2 class="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h2> -->


  <div class="just-padding">

    <div class="list-group list-group-root well">
      {% for category in site.categories %}      
      <a href="#item-{{ category | first }}" class="list-group-item" data-toggle="collapse">
        <i class="glyphicon glyphicon-chevron-right ">
        </i>{{ category | first }}
      </a>
      <div class="list-group collapse" id="item-{{ category | first }}">
        {% for post in category.last %}
        <a href="{{ post.url | prepend: site.baseurl }}" class="list-group-item">{{ post.title}}</a>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    
  </div>


</header>
