<section class="share">
   <hr>
        <div class="text-center center-block">
            <br />
                <a href="https://www.facebook.com/sharer/sharer.php" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i id="social-fb" class="fa fa-facebook-square fa-3x social" ></i></a>
	            <a href="https://twitter.com/share" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/share" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530'); return false;"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:xiaominfc@126.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
		</div>
    <hr>
</section>
