---
layout: layout
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="row">
    <div class="col-sm-9">

      <header class="artilce_header">
        <h1 class="artilce_title post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="artilce_meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
      </header>

      <div class="article-content" itemprop="articleBody">
        {{ page.content }}
      </div>

      <footer>
       {% include share.html %}
     </footer>	
   </div>
   <div class="col-sm-3 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
     {% include header.html %}
   </div>
 </div>
</div>
<div class="row">
<!-- UY BEGIN -->
<div id="uyan_frame" class="col-sm-9"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2140103"></script>
<!-- UY END -->
</div>
</article>
