---
layout: layout
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="row">
    <div class="col-sm-9">

      <header class="artilce_header">
        <h1 class="artilce_title post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="artilce_meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
      </header>

      <div class="article-content" itemprop="articleBody">
        {{ page.content }}
      </div>

      <footer>
       {% include share.html %}
     </footer>	
   </div>
   <div class="col-sm-3 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
     {% include header.html %}
   </div>
 </div>
</div>
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="//v2.uyan.cc/code/uyan.js"></script>
<!-- UY END -->

<!--PC和WAP自适应版-->
<div id="SOHUCS" sid="请将此处替换为配置SourceID的语句" ></div> 
<script type="text/javascript"> 
(function(){ 
var appid = 'cyt8qsHah'; 
var conf = 'prod_6ed9626425b9da0ba6fef5972bfe4bfc'; 
var width = window.innerWidth || document.documentElement.clientWidth; 
if (width < 960) { 
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
</article>
