---
layout: layout
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="row">
    <div class="col-sm-9">

      <header class="artilce_header">
        <h1 class="artilce_title post-title" itemprop="name headline">{{ page.title }}</h1>
        <p class="artilce_meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
      </header>

      <div class="article-content" itemprop="articleBody">
        {{ page.content }}
      </div>
      <footer>
        <hr>
        <div class="container text-center">
        <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
            <span id="busuanzi_container_page_pv">阅读量:<span id="busuanzi_value_site_pv"></span>次</span>
        </div>
      {% include share.html %} 
      </footer>	
   </div>
   <div class="col-sm-3 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
     {% include header.html %}
   </div>
 </div>
</div>

